/* Set a different font family for the entire webpage */
body {
    font-family: serif;
}

/* Styling for the header */
header {
    background-color: #f2f2f2; 
    padding: 20px;
    text-align: center;
}

.header_p {
    color: #333;
}

.header_name {
    color: #333;
}

/* Styling for the h1 in the header */
header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;

}

/* Nav Bar Background colour */
aside {
    flex: 1;
    padding: 20px;
    background-color: #333;
}

/* Styling for my CV image */
.cv_img img {
    width: 100%; 
    max-width: 350px; 
    height: auto;                                       /* Automatically adjust the height for responsiveness */
}

/* Styling for the navigation links of my page */
nav ul {
    list-style-type: none;
    display: flex;                                      /* Use flexbox to get my links horizontaly aligned */
    justify-content: center;                            /* Center the nav links horizontally */
    align-items: center;
    padding: 0;                                         /* Remove any default padding */
}

nav ul li {
    margin-right: 20px;                                 /* Add space between the links */
}

/* Style for the navigation link text (default color is blue)*/
nav ul li a {
    text-decoration: none;
    color: #f2f2f2; 
    font-size: 16px; 
    font-weight: bold; 
}

/* Styling for the article (right) section */
article {
    flex: 2;
    padding: 20px;
}

/* Styling for section headings */
h2 {
    font-size: 28px;
    font-weight: bold;
    color: #f2f2f2; 
    background-color: #333;
    text-align: center;
}

/* Styling for subheadings */
h3 {
    font-size: 18px;
    font-weight: bold;
    color: #666; 
    text-align: center;
}

/* Styling for paragraphs */
p {
    font-size: 16px;
    color: #000000; 
    line-height: 1.5;
    text-align: center;
}


footer {
    background-color: #333; /* Dark background color */
    color: #fff; 
    text-align: center;
    padding: 20px;
}

/* Styling for links in the footer */
footer a {
    text-decoration: none;
    color: #fff;                                        /* White text color for links */
}

.contact {
    text-align: center;
    color: #333;
    background-color: #fff;
    padding: auto;
}

.job_response {
    text-align: left;
}