/* Set a different font family for the entire webpage */
body {
    font-family: serif;
}

/* Styling for the header */
header {
    background-color: #f2f2f2; 
    padding: 20px;
    text-align: center;
}
/* edits for my Title and subtitle headings */
.header_p {
    color: #333;
}

.header_name {
    color: #333;
}

/* Styling for the h1 in the header */
header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;

}

/* Nav Bar Background colour */
aside {
    padding: 20px;
    background-color: #333;
}

/* Styling for my CV image */
.cv_img img {
    width: 100%; 
    max-width: 350px; 
    height: auto;                                       /* Automatically adjust the height for responsiveness */
}

/* Styling for the navigation links of my page */
nav ul {
    list-style-type: none;
}

/* Style for the navigation link text (default color is blue)*/
nav ul li a {
    color: #f2f2f2; 
    font-size: 16px; 
    font-weight: bold; 
}

/* Styling for section headings */
h2 {
    font-size: 28px;
    font-weight: bold;
    color: #f2f2f2; 
    background-color: #333;
}

/* Styling for subheadings */
h3 {
    font-size: 18px;
    font-weight: bold;
    color: #666; 
}

/* Styling for paragraphs */
p {
    font-size: 16px;
    color: #000000; 
}

footer {
    background-color: #333; /* Dark background color */
    color: #fff; 
}

/* Styling for links in the footer */
footer a {
    color: #fff;                                        /* White text color for links */
}


/* Styling for my Contact header as it is the intro to my Footer */
.contact {
    color: #333;
    background-color: #fff;
    padding: auto;
}


